<%-include("heading")-%>

    <div class="post container quote">
        <% for(var i=0;i<posts.length;i++){ %>
            <h3>
                <%= posts[i].title%>
                <!-- <button type="submit" class="delete" name="del" value="<%= posts[i]._id %>"
                        onclick="deleted('<%= posts[i]._id %>')">
                        <span><img src="delete.png" alt="delete" height="20px"></span>
                    </button> -->

            </h3>
            <p class="body">
                <%= posts[i].body%> <br>
            </p>
            <% } %>

    </div>

    </body>

    </html>
